.settlements-page .dashboard .row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:7.5% 0;
    padding:0 7.5%;
}

.settlements-page .dashboard .row22 .image{
    content: url('../../../../assets/Settlements/img2.png');
    width: 47.5%;
}

.settlements-page .dashboard .row1 .info{
    width: 490px;
    max-width: 37.5%;
    h1{
        font-size: 25px;
    }
    p{
        font-size: 18px;
        line-height: 1.7;
        margin:15px 0 25px;
    }
}

//--------------------------------------------------------
.settlements-page .dashboard .banner-img{
    width: 45%;

    .inner-img{
        position: relative;
        width: 100%;
    }
    .phone{
        content: url('../../../../assets/PaymentGateway/phone.png');
        width: 32%;
        position: absolute;
        left: 0;
        top:17.5%;
    }
}

.settlements-page .dashboard .banner-img .billing{
    background: #fff;
    border:1px solid #f3f3f3;
    width: 85%;
    margin-left: auto;
    border-radius: 10px;
    padding:50px 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left{
        width: 55%;
    }
    .image1{
        content: url('../../../../assets/PaymentGateway/banner-img2.png');
        width: 35%;
        border-radius: 10px;
    }
    h5{
        font-size: 20px;
    }
    .item1{
        margin:30px 0;
    }
    h6{
        font-size: 14px;
    }
    .visa{
        display: flex;
        align-items: center;
        border:1px solid #ddd;
        width: fit-content;
        padding:1px 15px;
        border-radius: 5px;
        margin-top: 10px;
        svg{
            font-size: 40px;
            color:#777;
        }
        span{
            margin:0 10px;
            font-size: 15px;
        }
        .circle{
            width: 20px;
            height: 20px;
            border:2px solid #3064F9;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .inner-circle{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;
            height: 10px;
            background:#3064F9;
            border-radius: 50%;
        }
        
    }
    .line{
        height: 15px;
        background: #ddd;
        margin:7.5px 0;
        border-radius: 10px;
    }
    .line1{
        width: 80%;
    }
    .line2{
        width: 60%;
    }
}

.settlements-page .dashboard .card{
    background: #ff585d;
    position: absolute;
    bottom:7.5%;
    right: -7.5%;
    width: 300px;
    max-width: 75%;
    padding:20px;
    border-radius: 10px;
    color:#fff;
    .code{
        display: flex;
        border-radius: 7.5px;
        width: fit-content;
        overflow: hidden;
    }
    .line{
        height: 9px;
        width: 20px;
        background: #fff;
        margin:1px 0;
    }
    .line3{
        width: 9px;
        margin:1px;
        background: #fff;
    }
    .p{
        font-size: 17px;
        margin:45px 0 12.5px;
    }
    .inline{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 17px;
        }
    }
    .line5{
        background: #fff;
        border-radius: 7.5px;
        width: 45px;
        height: 15px;
    }
}

@media(max-width:1450px){
    .settlements-page .dashboard .row1{
        margin:7.5% 0;
        padding:0 7.5%;
    }
    
    .settlements-page .dashboard .row22 .image{
        width: 47.5%;
    }
    
    .settlements-page .dashboard .row1 .info{
        width: 490px;
        max-width: 37.5%;
        h1{
            font-size: 20px;
        }
        p{
            font-size: 15px;
            margin:12.5px 0 20px;
        }
    }
}


@media(max-width:1450px){
    .settlements-page .dashboard  .banner-img{
        width: 47.5%;
        .phone{
            width: 32%;
            top:17.5%;
        }
    }
    
    .settlements-page .dashboard  .banner-img .billing{
        width: 85%;
        padding:30px 25px;
        .left{
            width: 55%;
        }
        .image1{
            width: 35%;
        }
        h5{
            font-size: 17px;
        }
        .item1{
            margin:20px 0;
        }
        h6{
            font-size: 12px;
        }
        .visa{
            padding:1px 12.5px;
            svg{
                font-size: 30px;
            }
            span{
                margin:0 7.5px;
                font-size: 11px;
                flex: 1;
                text-align: center;
            }
            .circle{
                width: 15px;
                height: 15px;
            }
            .inner-circle{
                width: 6px;
                height: 6px;
            }
            
        }
        .line{
            height: 12px;
            margin:7.5px 0;
            border-radius: 10px;
        }
    }
    
    .settlements-page .dashboard  .card{
        bottom:7.5%;
        right: -7.5%;
        width: 225px;
        max-width: 75%;
        padding:15px 20px;
        .code{
            border-radius: 7.5px;
        }
        .line{
            height: 7px;
            width: 17px;
        }
        .line3{
            width: 7px;
        }
        .p{
            font-size: 14px;
            margin:40px 0 10px;
        }
        .inline{
            p{
                font-size: 14px;
            }
        }
        .line5{
            border-radius: 6px;
            width: 40px;
            height: 12px;
        }
    }
}



@media(max-width:900px){
    .settlements-page .dashboard .row1{
        margin:35px 0;
        padding:0 5%;
    }
    
    .settlements-page .dashboard .row22 .image{
        width: 400px;
        max-width: 95%;
        margin:20px auto;
    }
    
    .settlements-page .dashboard .row1 .info{
        width: 100%;
        max-width:100%;
        margin:20px auto;
    }
}

@media(max-width:800px){
    .settlements-page .dashboard .banner-img{
        width: 420px;
        max-width: 100%;
        margin:20px auto;
    }    
}

@media(max-width:500px){
    .settlements-page .dashboard .banner-img{
        margin:20px 0 0;
        .phone{
            display: none;
        }
    }
    .settlements-page .dashboard .row22{
        flex-direction: column-reverse;
    }
    .settlements-page .dashboard .banner-img .billing{
        width: 100%;
        padding:20px 15px;
        .left{
            width: 57.5%;
        }
        .image1{
            width: 37.5%;
        }
        h5{
            font-size: 16px;
        }
        .item1{
            margin:17.5px 0;
        }
        h6{
            font-size: 12px;
        }
        .visa{
            padding:1px 10px;
            svg{
                font-size: 27.5px;
            }
            span{
                margin:0 7.5px;
                font-size: 10px;
            }
            .circle{
                width: 13px;
                height: 13px;
            }
            .inner-circle{
                width: 5px;
                height: 5px;
            }
            
        }
        .line{
            height: 11px;
        }
        .line1{
            width: 70%;
        }
        .line2{
            width: 50%;
        }
    }
    
    .settlements-page .dashboard .card{
        bottom:0;
        right:0;
        width: 185px;
        padding:15px;
        .line{
            height: 5px;
            width: 13px;
        }
        .line3{
            width: 5px;
        }
        .p{
            font-size: 13px;
            margin:30px 0 10px;
        }
        .inline{
            p{
                font-size: 13px;
            }
        }
        .line5{
            width: 37.5px;
            height: 11px;
        }
    }
}