.send-money-page .transfer .row1{
    margin:5% 0;
    padding:0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img{
        content: url('../../../../assets/SendMoney/img1.png');
        width: 15%;
        transition: 0.4s ease-in-out;
        &:hover{
            transform: scale(1.04);
        }
    }
    .col1{
        width: 80%;
    }
    h1{
        font-size: 25px;
    }
    p{
        font-size: 18px;
        width: 40%;
        margin:15px 0 55px;
        color:#444;
    }
    .items1{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item1{
        border:1px solid #eee;
        border-radius: 10px;
        padding:25px 35px 25px 20px;
        width: 28.5%;
        transition: 0.35s ease-in-out;
        position: relative;
        &:first-child .icon{
            color:#FFD500;
            background: #fff5c1;
        }
        &:first-child:hover .icon{
            background: #FFD500;
        }
        &:nth-child(2) .icon{
            color:#1F6BDC;
            background: #d5e6ff;
        }
        &:nth-child(2):hover .icon{
            background:#1F6BDC;
        }
        &:nth-child(3) .icon{
            color:#3BE641;
            background: #dcffdd;
        }
        &:nth-child(3):hover .icon{
            background:#3BE641;
        }
        &:hover{
            transform:translateY(-12.5px);
            .icon{
                color: #fff;
            }
        }
    }
    .icon{
        position: absolute;
        top:-15px;
        right:-15px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 30px;
    }
    h6{
        font-size: 16px;
        color:#111;
    }
}

@media(max-width:1451px){
    .send-money-page .transfer .row1{
        .img{
            width: 15%;
        }
        .col1{        
            width: 80%;
        }
        h1{
            font-size: 20px;
        }
        p{
            font-size: 15px;
            width: 50%;
            margin:15px 0 50px;
        }
        .item1{
            border-radius: 7.5px;
            padding:20px 30px 20px 17.5px;
            width: 28.5%;
        }
        .icon{
            top:-15px;
            right:-15px;
            width: 45px;
            height: 45px;
            font-size: 27.5px;
        }
        h6{
            font-size: 14px;
        }
    }
}


@media(max-width:991px){
    .send-money-page .transfer .row1{
        .img{
            width: 30%;
        }
        .col1{        
            width: 62.5%;
        }
        p{
            width: 100%;
            margin:15px 0 30px;
        }
        .item1{
            width: 100%;
            margin:15px 0;
            &:hover{
                transform:translateY(0px);
            }
        }
    }
}


@media(max-width:601px){
    .send-money-page .transfer .row1{
        flex-wrap: wrap;
        margin:45px 0 30px;
        padding:0 7.5%;
        .img{
            width: 300px;
            max-width: 100%;
            margin:20px auto 30px;
        }
        .col1{        
            width: 100%;
            margin:0 0 20px;
        }
    }
}

//======================================================
.send-money-page .transfer .row2{
    margin:10% 0;
    padding:0 7.5%;
    h1{
        font-size: 27.5px;
    }
    .p{
        font-size: 18px;
        color:#444;
        margin:10px 0 45px;
    }
    .inner-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .img{
        content: url('../../../../assets/SendMoney/img2.png');
        width: 27.5%;
    }
    .items2{
        width: 40%;
        margin-right: 7.5%;
    }
    .item2{
        display: flex;
        margin:30px 0;
        &:hover{
            transform: scale(1.035);
            transition: 0.35s ease-in-out;
        }
        &:first-child .icon{
            color:#FFD500;
            background: #fff5c1;
        }
        &:nth-child(2) .icon{
            color:#1F6BDC;
            background: #d5e6ff;
        }
        &:nth-child(3) .icon{
            color:#3BE641;
            background: #dcffdd;
        }
        &:nth-child(4) .icon{
            color:#FF2626;
            background: #ffd3d3;
        }
    }
    .block{
        flex: 1;
        h6{
            font-size: 18px;
            margin-bottom: 7.5px;
        }
        p{
            font-size: 17px;
            line-height: 1.7;
        }
    }
    .icon{
        width: 65px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 30px;
        margin-right: 25px;
    }
}


@media(max-width:1550px){
    .send-money-page .transfer .row2{
        .img{
            width: 35%;
        }
    }
}

@media(max-width:1451px){
    .send-money-page .transfer .row2{
        padding:0 7.5%;
        h1{
            font-size: 20px;
        }
        .p{
            font-size: 15px;
            margin:10px 0 40px;
        }
        .img{
            width: 30%;
        }
        .items2{
            width: 42.5%;
            margin-right: 5%;
        }
        .item2{
            margin:25px 0;
        }
        .block{
            h6{
                font-size: 15px;
                margin-bottom: 7.5px;
            }
            p{
                font-size: 14px;
            }
        }
        .icon{
            width: 55px;
            height: 45px;
            font-size: 25px;
            margin-right: 20px;
        }
    }
    
}

@media(max-width:1025px){
    .send-money-page .transfer .row2{
        margin:10% 0;
        .img{
            width: 37.5%;
        }
        .items2{
            width: 47.5%;
            margin-right: 0;
        }
    }
}

@media(max-width:900px){
    .send-money-page .transfer .row2{
        margin:45px 0 35px;
        .p{
            margin-bottom: 20px;
        }
        .img{
            width: 300px;
            max-width: 100%;
            margin:20px auto;
        }
        .items2{
            width: 100%;
            margin:20px auto;
        }
    }
}

//--------------------------------------------------
.send-money-page .transfer .left-right{
    padding:0 10%;
    margin:7.5% 0 15%;
    .col1{
        width: 35%;
    }
    .img{
        width: 47.5%;
        border-radius: 15px;
    }
}

@media(max-width:1025px){
    .send-money-page .transfer .left-right{
        padding:0 7.5%;
        .col1{
            width: 37.5%;
        }
        .img{
            width: 50%;
            border-radius: 15px;
        }
    }
}

@media(max-width:825px){
    .send-money-page .transfer .left-right{
        margin:30px 0;
        .col1{
            width: 100%;
            margin:0px auto 15px;
        }
        .img{
            width: 400px;
            max-width: 100%;
            margin:20px auto;
            border-radius: 12.5px;
        }
    }
}