.nav .mobile-nav{
    position: relative;
}
.nav .mobile-sidebar{
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    width:300px;
    max-width:77.5%;
    z-index:2200;
    overflow-y: auto;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5);

    -webkit-animation-name: mobile-nav-scroll;
    animation-name: mobile-nav-scroll;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

    min-height: 100vh;
    height: 100%;
}
.mobile-sidebar .sidebar-logo-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #C92E34;
    padding:0 15px;
    a{
        display: flex;
        align-items: center;
    }
    h6{
        font-size: 20px;
        color:#C92E34;
    }
    .mobile-logo-container{
        content: url('../../../assets/Navbar/red-logo2.png');
        width:37.5px;
        margin-right: 10px;
    }
    button{
        border: 0;
        background: none;
        font-size: 35px;
        margin-bottom: -7.5px;
        color:#C92E34;
        cursor: pointer;
    }
}

.mobile-sidebar::-webkit-scrollbar {
    width: 0.5em;
}
  
.mobile-sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
.mobile-sidebar::-webkit-scrollbar-thumb {
    background-color: #a19ea8;
    outline: 1px solid slategrey;
}

@-webkit-keyframes mobile-nav-scroll {
   0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes mobile-nav-scroll {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
      100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
      }
}

//Sidebar links------------------------------------------------
.mobile-sidebar .mobile-sidebar-links{
    // margin:20px 0;
    .nav-sidebar-link{
        display: flex;
        justify-content: space-between;
        padding:16px 20px 15px;
        border-bottom: 1px solid #aaa;
        border-left: 4px solid transparent;
        a{
            font-size: 16.5px;
            width:160px;
            display: flex;
            align-items: center;
            color:#444;
            svg{
                font-size: 20px;
                margin-right: 10px;
                color:#C92E34;

            }
        }
        &:hover{
            border-left: 4px solid #C92E34;
        }
    }
    .dropdown-arrow{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-size: 22.5px;
        margin-bottom: -3px;
        color:#C92E34;
        cursor: pointer;
    }
}

.mobile-nav .dropdown-links-items{
    margin:0;
    padding:3px 0 3px 50px;
    border-bottom: 1px solid #aaa;
    a{
        color:#555;
        font-size: 15.5px;
        width: 100%;
        display: flex;
        &:hover{
            color:#C92E34;
        }
    }
    .sidebar-dropdown-link{
        padding:7px 0;
    }
    svg{
        font-size: 17px;
        margin-right: 10px;
        color:#C92E34;
    }
    
}


.mobile-sidebar .sidebar-auth{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:15px 0;
    a{
        font-size: 16.5px;
        padding:7px 0 8.5px;
        border-radius: 5px;
        background-color: #C92E34;
        margin:7.5px;
        color:white !important;
        width:100px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:335px){
    .mobile-sidebar .sidebar-logo-row{
        h6{
            font-size: 16px;
        }
        .mobile-logo-container{
            width:30px;
            margin-right: 7.5px;
        }
        button{
            font-size: 30px;
            margin-bottom: -7.5px;
        }
    }
}


//----------------------------------
.mobile-sidebar .sidebar-dropdown-link2{
    display: flex;
    align-items: center;
    .img{
        width: 25px;
        margin-right: 10px;
    }
    h6{
        font-size: 14px;
        font-weight: normal;
    }
}