.ecommerce-page .transact-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:5% 0;
    padding:0 10% 0 7.5%;
    .img{
        content: url('../../../../assets/Ecommerce/iamge.png');
        width: 45%;
    }
    .col2{
        width: 40%;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 18px;
        line-height: 1.7;
        margin:15px 0 25px;
    }
}

@media(max-width:1451px){
    .ecommerce-page .transact-row{
        margin:5% 0;
        padding:0 10% 0 7.5%;
        .img{
            width: 45%;
        }
        .col2{
            width: 40%;
        }
        h1{
            font-size:25px;
        }
        p{
            font-size: 15px;
            margin:15px 0 25px;
        }
    }
}

@media(max-width:1001px){
    .ecommerce-page .transact-row{
        margin:7.5% 0;
        padding:0 5%;
        .img{
            width: 47.5%;
        }
        .col2{
            width: 45%;
        }
    }
}


@media(max-width:750px){
    .ecommerce-page .transact-row{
        margin:35px 0;
        padding:0 7.5%;
        .img{
            width: 400px;
            max-width: 100%;
            margin:20px auto;
        }
        .col2{
            width: 100%;
            margin:20px auto;
        }
        h1{
            font-size:20px;
        }
        p{
            margin:12px 0 20px;
        }
    }
}