.shared-capabilities-component{
    margin:5% 0;
    padding:0 5%;
    .logo{
        content: url('../../../../assets/Payouts/logo.jpg');
        width: 55px;
        margin:0 auto;
    }
    h1{
        font-size: 27.5px;
        text-align: center;
        margin:10px 0;
    }
    .p{
        text-align: center;
        font-size: 18px;
    }
    .slider-container{
        padding:0 8%;
        margin-top: 45px;
        position: relative;
    }

    .slider-arrows{
        position: absolute;
        bottom:15px;
        right:0;
        .arrows{
            display: flex;
        }
        button{
            border:1px solid #ddd;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 27.5px;
            margin:0 5px;
            color:#C9060C;
        }
    }
    .slick-track{
        display: flex;
        align-items:stretch;
    }
    .slick-list{
        padding:10px;
    }
    .slick-slide{
        height: auto;
        margin:0;
        display: flex;
        flex-direction: column;
        padding:15px 40px;
        div{
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
}
.shared-capabilities-component .slider-item{
    border:1px solid #eee;
    padding:25px;
    border-radius: 10px;
    h6{
        font-size: 18px;
        margin-bottom: 15px;
    }
    p{
        font-size: 18px;
        line-height: 1.7;
    }

}
.shared-capabilities-component{
    .class1{
        box-shadow: 10px -10px  #ffc2c2;
        -moz-box-shadow: 10px -10px  #ffc2c2;
        -webkit-box-shadow: 10px -10px  #ffc2c2;
        -o-box-shadow: 10px -10px  #ffc2c2;
    }
    .class2{
        box-shadow: 10px -10px  #d6ffe9;
        -moz-box-shadow: 10px -10px  #d6ffe9;
        -webkit-box-shadow: 10px -10px  #d6ffe9;
        -o-box-shadow: 10px -10px  #d6ffe9;
    }
    .class3{
        box-shadow: 10px -10px  #ffd2f7;
        -moz-box-shadow: 10px -10px  #ffd2f7;
        -webkit-box-shadow: 10px -10px  #ffd2f7;
        -o-box-shadow: 10px -10px  #ffd2f7;
    }
}

@media(max-width:1451px){
    .shared-capabilities-component{
        .logo{
            width: 47.5px;
        }
        h1{
            font-size: 20px;
            margin:10px 0;
        }
        .p{
            font-size: 15px;
        }
        .slider-container{
            padding:0 110px;
            margin-top: 40px;
        }
    
        .slider-arrows{
            bottom:10px;
            button{
                width: 37px;
                height: 37px;
                font-size: 25px;
            }
        }
        .slick-list{
            padding:10px;
        }
        .slick-slide{
            padding:10px 20px;
        }
    }
    .shared-capabilities-component .slider-item{
        padding:20px;
        h6{
            font-size: 15px;
        }
        p{
            font-size: 15px;
        }
    
    }
    .shared-capabilities-component{
        .class1{
            box-shadow: 7px -7px  #ffc2c2;
            -moz-box-shadow: 7px -7px  #ffc2c2;
            -webkit-box-shadow: 7px -7px  #ffc2c2;
            -o-box-shadow: 7px -7px  #ffc2c2;
        }
        .class2{
            box-shadow: 7px -7px  #d6ffe9;
            -moz-box-shadow: 7px -7px  #d6ffe9;
            -webkit-box-shadow: 7px -7px  #d6ffe9;
            -o-box-shadow: 7px -7px  #d6ffe9;
        }
        .class3{
            box-shadow: 7px -7px  #ffd2f7;
            -moz-box-shadow: 7px -7px  #ffd2f7;
            -webkit-box-shadow: 7px -7px  #ffd2f7;
            -o-box-shadow: 7px -7px  #ffd2f7;
        }
    }
}

@media(max-width:550px){
    .shared-capabilities-component{
        padding:0 7.5%;
        margin:55px 0;
        .logo{
            width: 45px;
        }
        h1{
            font-size: 17.5px;
            margin:12.5px 0;
        }
        .slider-container{
            padding:0;
            margin-top: 25px;
        }
    
        .slider-arrows{
            bottom:unset;
            right: unset;
            position: relative;
            padding:0 10px;
            margin:25px 0 12.5px;
        }
        .slick-list{
            padding:5px 0;
        }
        .slick-slide{
            padding:10px;
        }
    }
}