.home-page .pay .row4{
    margin:12.5% 0 7.5%;
    position: relative;
    .inner-row4{
        padding:7.5% 7.5% 5%;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
        z-index: 2;
        background: url('../../../../assets/Home/bg1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        color:#fff;
        position: relative;
    }
    h1{
        font-size: 27.5px;
        margin:0 25px;
    }
    .p{
        font-size: 19px;
        width: 42.5%;
        line-height: 1.8;
        margin:15px 25px 25px;
    }
    .items4{
        display: flex;
        justify-content: space-between;
        width: 72.5%;
    }
    .item4{
        position: relative;
        border-radius: 10px;
        width: 31%;
        padding:25px;
        &:hover{
            background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25));
        }
        .icon{
            font-size: 35px;
        }
        h6{
            font-size: 18px;
            margin:10px 0;
        }
        p{
            font-size: 18px;
            margin-bottom: 45px;
        }
        a{
            position: absolute;
            bottom:25px;
            display: flex;
            align-items: center;
            color:#FF0900;
            font-size: 18px;
            svg{
                font-size: 20px;
                margin-left: 7.5px;
            }
        }
    }
    .bg1{
        width: 100%;
        height: 100%;
        position: absolute;
        top:-3.5%;
        left:0;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
        background: linear-gradient(rgba(46, 201, 148, 0.4),rgba(46, 201, 148, 0.4));
        z-index: 1;    
    }
    .bg2{
        width: 100%;
        height: 50%;
        position: absolute;
        bottom:-3.5%;
        left:0;
        background: linear-gradient(rgba(233, 158, 7, 0.4),rgba(233, 158, 7, 0.4));
        z-index: 1;    
    }
    .line1{
        z-index: 3;
        position: absolute;
        left:0;
        top:-5%;
        width: 22.5%;
        padding-top: 5%;
        background: linear-gradient(rgba(87, 46, 201, 0.4),rgba(87, 46, 201, 0.4));
        clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 77%);
    }
    .line2{
        z-index: 3;
        position: absolute;
        left:0;
        top:-2.5%;
        width: 20%;
        padding-top: 5%;
        background: linear-gradient(rgba(255, 41, 41, 0.4),rgba(255, 41, 41, 0.4));
        clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 77%);
    }
    .line3{
        z-index: 4;
        position: absolute;
        right:0;
        bottom:-5%;
        width: 20%;
        padding-top: 4%;
        background: linear-gradient(rgba(255, 41, 41, 0.4),rgba(255, 41, 41, 0.4));
    }
    .line4{
        z-index: 3;
        position: absolute;
        right:0;
        bottom:-2.5%;
        width: 22.5%;
        padding-top: 4%;
        background: linear-gradient(rgba(87, 46, 201, 0.4),rgba(87, 46, 201, 0.4));
    }
}

@media(max-width:1451px){
    .home-page .pay .row4{
        margin:12.5% 0 10%;
        .inner-row4{
            padding:7.5% 7.5% 5%;
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
        }
        h1{
            font-size: 22.5px;
            margin:0 20px;
        }
        .p{
            font-size: 15px;
            width: 50%;
            line-height: 1.7;
            margin:15px 20px 20px;
        }
        .items4{
            flex-wrap: wrap;
            width: 75%;
        }
        .item4{
            width: 31%;
            padding:20px;
            .icon{
                font-size: 30px;
            }
            h6{
                font-size: 15px;
                margin:10px 0;
            }
            p{
                font-size: 15px;
                margin-bottom: 35px;
            }
            a{
                bottom:20px;
                font-size: 15px;
                svg{
                    font-size: 18px;
                    margin-left: 6px;
                }
            }
        }
        .bg1{
            top:-3.5%;
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);  
        }
        .bg2{
            bottom:-3.5%;
        }
        .line1{
            top:-5%;
            width: 22.5%;
            padding-top: 5%;
            clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 77%);
        }
        .line2{
            top:-2.5%;
            width: 20%;
            padding-top: 5%;
            clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 77%);
        }
        .line3{
            bottom:-5%;
            width: 20%;
            padding-top: 4%;
        }
        .line4{
            bottom:-2.5%;
            width: 22.5%;
            padding-top: 4%;
        }
    }
}

@media(max-width:1000px){
    .home-page .pay .row4{
        .items4{
            width: 100%;
        }
    }
}

@media(max-width:767px){
    .home-page .pay .row4{
        margin:75px 0 100px;
        .inner-row4{
            padding:25% 7.5% 7.5%;
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
        }
        h1{
            font-size: 20px;
            margin:0 15px;
        }
        .p{
            width: 100%;
            line-height: 1.5;
            margin:15px 15px 20px;
        }
        .items4{
            justify-content: center;
        }
        .item4{
            width: 45%;
            padding:15px;
            margin:5px 2.5%;
        }
        .bg1{
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);  
        }
        .line1{
            top:-5%;
            width: 62.5%;
            padding-top: 25%;
            clip-path: polygon(0 0, 100% 37%, 100% 100%, 0 63%);
        }
        .line2{
            top:-4%;
            width: 45%;
            padding-top: 25%;
            clip-path: polygon(0 0, 100% 37%, 100% 100%, 0 63%);
        }
        .line3{
            bottom:-4%;
            width: 62.5%;
            padding-top: 15%;
        }
        .line4{
            bottom:-2.5%;
            width: 42.5%;
            padding-top: 15%;
        }
    }
}

@media(max-width:475px){
    .home-page .pay .row4{
        .item4{
            width: 100%;
        }
    }
}



@-webkit-keyframes hvr-icon-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}
@keyframes hvr-icon-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}
@-webkit-keyframes hvr-icon-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}
@keyframes hvr-icon-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
}


.home-page .pay .row4{
    .item4{
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    .item4 .icon{
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .item4:hover .icon{
        -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
        animation-name: hvr-icon-bob-float, hvr-icon-bob;
        -webkit-animation-duration: .3s, 0.5s;
        animation-duration: .3s, 0.5s;
        -webkit-animation-delay: 0s, .3s;
        animation-delay: 0s, .3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
    }
}