.shared-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:13% 15% 5% 11%;
    background-image:url('../../../assets/BuySlider/subscribe.png');
    background-repeat: no-repeat;
    background-size: cover;
    .block{
        width: 45%;
    }
    h1{
        font-size: 30px;
        color:#fff;
        margin-bottom: 20px;
    }
    p{
        color:#fff;
        font-size: 18px;
    }
    .email-container{
        background-color: #fff;
        display: flex;
        align-items: center;
        width: 45%;
        padding:0 0 0 35px;
        border-radius: 28px;
        &:focus-within{
            span svg{
                -webkit-animation-name: hvr-icon-pulse-shrink;
                animation-name: hvr-icon-pulse-shrink;
                -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                animation-direction: alternate;
            }
        }
    }
    span{
        color:#d53333;
        font-size: 22.5px;
        margin:0 15px -5px 0;

    }
    input{
        height: 55px;
        flex: 1;
        border:0;
        font-size: 17px;
        &:focus{
            outline: none;
        }
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 55px;
        padding:0 35px;
        background-color: #d53333;
        color:#fff;
        font-size: 17px;
        border:0;
        border-radius: 28px;
        margin-right: -1px;
        cursor: pointer;
        transition: 0.65s ease-in-out;
        &:hover{
            box-shadow: 300px 0 0 0  rgba(0,0,0,0.25) inset, -300px 0 0 0  rgba(0,0,0,0.25) inset;
        }
    }
}

@media(max-width:1451px){
    .shared-subscribe{
        padding:17.5% 12.5% 5% 7.5%;
        h1{
            font-size: 28px;
            margin-bottom: 15px;
        }
        p{
            font-size: 15px;
        }
        .email-container{
            padding:0 0 0 25px;
            border-radius: 25px;
        }
        span{
            font-size: 20px;
            margin:0 15px -5px 0;
    
        }
        input{
            height: 45px;
            font-size: 14px;
        }
        button{
            height: 45px;
            padding:0 30px;
            font-size: 14px;
            border-radius: 25px;
        }
    }
}

@media(max-width:767px){
    .shared-subscribe{
        flex-wrap: wrap;
        padding:22.5% 7.5% 7.5%;
        .block{
            width: 400px;
            max-width: 100%;
            margin-bottom: 20px;
        }
        h1{
            font-size: 20px;
            margin-bottom: 10px;
        }
        .email-container{
            padding:0 0 0 20px;
            border-radius: 20px;
            width: 300px;
            max-width: 100%;
        }
        span{
            font-size: 18px;
            margin:0 10px -4px 0;
    
        }
        input{
            height: 40px;
        }
        button{
            height: 40px;
            padding:0 25px;
            font-size: 14px;
            border-radius: 20px;
        }
    }
}

@media(max-width:410px){
    .shared-subscribe{
        flex-wrap: wrap;
        padding:27.5% 7.5% 7.5%;
        .email-container{
            padding:0 0 0 15px;
            width: 100%;
        }
        span{
            font-size: 17px;
            margin:0 7.5px -4px 0;
    
        }
        input{
            height: 37.5px;
            font-size: 13px;
        }
        button{
            height: 37.5px;
            padding:0 15px;
        }
    }
}

@media(max-width:365px){
        .shared-subscribe{
            .email-container{
                padding:0 0 0 12.5px;
            }
            span{
                font-size: 16px;
                margin:0 7.5px -3px 0;
        
            }
            input{
                height: 35px;
                font-size: 12px;
            }
            button{
                height: 35px;
                padding:0 12.5px;
                font-size: 13px;
            }
        }
}
@-webkit-keyframes hvr-icon-pulse-shrink {
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
}
@keyframes hvr-icon-pulse-shrink {
    to {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
}