.dresses-hm-page .main-container .product-info{
    width: 47%;
    h1{
        font-size: 25px;
    }
    .inline{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin:5px 0 25px;
        span{
            font-size: 20px;
            color:#555;
            margin:5px;
        }
        a{
            display: flex;
            align-items: center;
            color:#111;
            font-size: 17px;
            margin:5px;
            svg{
                font-size: 19px;
                margin-right: 5px;
            }
        }
    }
    .stars{
        display: flex;
        margin:5px 0;
        svg{
            font-size: 20px;
            margin-right: 5px;
            color:#555;
        }
    }
    .price{
        p{
            font-size: 17px;
            color:#555;
        }
    }
    h2{
        font-size: 40px;
    }
    h6{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .colors{
        margin:35px 0;
    }
    .color-container{
        display: flex;
        justify-content: space-between;
    }
    .color{
        display: flex;
        width:50px;
        height: 50px;
        border-radius: 50%;
        border:1px solid #ddd;
        overflow: hidden;
    }
    .white{
        width: 50%;
        height: 100%;
    }
    .color1{
        background: #222;
    }
    .color2{
        background: rgb(112, 45, 18);
    }
    .color3{
        background: rgb(15, 80, 105);
    }
    .color4{
        background: rgb(72, 19, 116);
    }
    .color5{
        background: rgb(20, 78, 13);
    }
    .color6{
        background: rgb(148, 124, 255);
    }
    .color7{
        background: rgb(255, 124, 255);
    }
    .color8{
        background: rgb(124, 255, 205);
    }
    .color9{
        background: rgb(238, 252, 113);
    }
    .color10{
        background: rgb(252, 113, 113);
    }
    .color11{
        background: rgb(113, 252, 252);
    }
    .inline2{
        display: flex;
        align-items: center;
        button{
            border:0;
            background: none;
            font-size: 17px;
            cursor: pointer;
            margin:5px;
        }
        span{
            font-size: 20px;
            margin:5px;
        }
        a{
            text-decoration: underline;
            text-align: center;
            font-size: 17px;
            color:#111;
            margin:5px;
        }
    }
    .size{
        width: 50px;
        height: 50px;
        border:1px solid #ddd;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-right: 7.5px;
        svg{
            font-size: 22.5px;
        }
    }
    .cart{
        margin:35px 0;
    }
    .inline3{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    .quantity{
        border:1px solid #ddd;
        display: flex;
        button{
            padding:0 15px;
            font-size: 22px;
            border:0;
            background: none;
            cursor: pointer;
        }
        span{
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding:7.5px 5px;
            width: 80px;
            text-align: center;
            font-size: 20px;
        }
    }
    .inline3 .favorite{
        width: 50px;
        height: 50px;
        font-size: 30px;
        background: none;
        cursor: pointer;
        border-radius: 50%;
        border:1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#222;
    }
    .inline3 .add{
        flex: 1;
        margin:0 20px;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#fff;
        background: #C92E34;
        border: 0;
        padding:12.5px;
        border-radius: 5px;
        cursor: pointer;
        svg{
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .react-tabs__tab-list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .react-tabs__tab{
        padding:5px;
        border-bottom: 3px solid transparent;
        font-size: 16.5px;
        font-weight: bold;
        cursor: pointer;
    }
    .react-tabs__tab--selected{
        border-bottom: 3px solid #C92E34;;
    }
    .react-tabs__tab-panel{
        font-size: 17px;
        line-height: 1.7;
    }
    .react-tabs__tab-panel li{
        list-style:disc;
        margin-left: 20px;
    }
}

@media(max-width:1451px){
    .dresses-hm-page .main-container .product-info{
        width: 47%;
        h1{
            font-size: 20px;
        }
        .inline{
            margin:5px 0 15px;
            span{
                font-size: 17.5px;
                margin:5px;
            }
            a{
                font-size: 15px;
                margin:5px;
                svg{
                    font-size: 17px;
                    margin-right: 5px;
                }
            }
        }
        .stars{
            margin:5px 0;
            svg{
                font-size: 17.5px;
                margin-right: 5px;
            }
        }
        .price{
            p{
                font-size: 14px;
            }
        }
        h2{
            font-size: 32.5px;
        }
        h6{
            font-size: 15px;
            margin-bottom: 10px;
        }
        .colors{
            margin:20px 0;
        }
        .color-container{
            display: flex;
        }
        .color{
            width:35px;
            height: 35px;
        }
        .inline2{
            display: flex;
            button{
                font-size: 14px;
                margin:5px;
            }
            span{
                font-size: 17.5px;
                margin:5px;
            }
            a{
                font-size: 14px;
                margin:5px;
            }
        }
        .size{
            width: 40px;
            height: 40px;
            font-size: 15px;
            margin-right: 3.5px;
            svg{
                font-size: 20px;
            }
        }
        .cart{
            margin:35px 0;
        }
        .inline3{
            display: flex;
            margin-bottom: 40px;
        }
        .quantity{
            button{
                padding:0 15px;
                font-size: 17.5px;
            }
            span{
                border-left: 1px solid #ddd;
                padding:5px 5px;
                width: 70px;
                font-size: 17.5px;
            }
        }
        .inline3 .favorite{
            width: 40px;
            height: 40px;
            font-size: 25px;
        }
        .inline3 .add{
            margin:0 15px;
            font-size: 14px;
            padding:10px;
            svg{
                font-size: 17.5px;
            }
        }
        .react-tabs__tab-list{
            margin-bottom: 15px;
        }
        .react-tabs__tab{
            border-bottom: 2px solid transparent;
            font-size: 13.5px;
        }
        .react-tabs__tab--selected{
            border-bottom: 2px solid #C92E34;;
        }
        .react-tabs__tab-panel{
            font-size: 14px;
        }
        .react-tabs__tab-panel li{
            margin-left: 15px;
        }
    }
}

@media(max-width:1061px){
    .dresses-hm-page .main-container .product-info{
        width: 100%;
        margin-top: 30px;
    }
}


@media(max-width:610px){
    .dresses-hm-page .main-container .product-info{
        h1{
            font-size: 17.5px;
            text-align: center;
        }
        .inline{
            margin:5px 0 10px;
            justify-content: center;
            span{
                font-size: 15px;
                margin:4px;
            }
            a{
                margin:3.5px;
            }
        }
        .stars{
            margin:2.5px 0;
            svg{
                font-size: 15px;
                margin-right: 2.5px;
            }
        }
        .price{
            p{
               text-align: center;
            }
        }
        h2{
            font-size: 32px;
            text-align: center;
        }
        h6{
            text-align: center;
        }
        .colors{
            margin:20px 0;
        }
        .color-container{
           justify-content: center;
           flex-wrap: wrap;
        }
        .color{
            margin: 4px;
        }
        .inline2{
            flex-wrap: wrap;
            justify-content: center;
            button{
                font-size: 14px;
                margin:5px;
            }
        }
        .cart{
            margin:35px 0;
        }
        .inline3{
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
        }
        .quantity{
            button{
                padding:0 15px;
                font-size: 17.5px;
            }
            span{
                border-left: 1px solid #ddd;
                padding:5px 5px;
                width: 70px;
                font-size: 17.5px;
            }
        }
        .inline3 .favorite{
            margin:7.5px 0;
        }
        .inline3 .add{
            width: fit-content;
            flex: unset;
            margin:7.5px 10px;
            padding:10px 15px;
        }
        .react-tabs__tab-list{
            margin-bottom: 12.5px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .react-tabs__tab{
            font-size: 13.5px;
            margin:5px;
        }
        .react-tabs__tab-panel{
            text-align: center;
        }
        .react-tabs__tab-panel li{
            text-align: left;
        }
    }
}
