
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}
html{
  height: 100%;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background: #ffeded;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color:  #ffaeb1;
  border-radius: 20px;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

p{
  line-height: 1.3;
}

@media(min-width:1401px){
    p{
      line-height: 1.5;
    }
}



//Slider dots-------------------------
.rec-swipable{
  align-items:stretch;
}
.rec-carousel-item-visible{
  margin:0;
  display: flex;
}
.rec-dot{
  width:20px !important;
  height: 20px !important;
  margin:10px 10px !important;
  border:0 !important;
  box-shadow: none !important;
  background: #bbb !important;
  &:hover, &:active, &:focus{
      box-shadow: none !important;
      background: #C92E34 !important;
  }
}
.rec-dot_active{
  background: #C92E34 !important;
  box-shadow: none !important;
}

@media(max-width:1401px){
  .rec-dot{
    width:17px !important;
    height: 17px !important;
  }
}
@media(max-width:767px){
  .rec-dot{
    width:15px !important;
    height: 15px !important;
    margin:10px 7.5px !important;
  }
}


//hover button-------------------
.hover-button{
    display: flex;
    align-items: center;
    width: fit-content;
    padding:14px 35px 12.5px;
    background-color: #d53333;
    color:#fff !important;
    text-decoration: none !important;
    font-size: 17px;
    border:0;
    border-radius: 27px;
    margin-right: -1px;
    cursor: pointer;
    transition: 0.65s ease-in-out;
    &:hover{
        box-shadow: 300px 0 0 0  rgba(0,0,0,0.25) inset, -300px 0 0 0  rgba(0,0,0,0.25) inset;
    }
}

@media(max-width:1401px){
  .hover-button{
      padding:11.5px 27.5px 10px;
      font-size: 15px;
      border-radius: 23.5px;
  }
}